body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@font-face {
  font-family: tickerFont;
  src: url(TitilliumWeb-Regular.ttf);
}

title-text {
  font-family: tickerFont;
  color: #FFCE49;
  font-size: 1.5em;
}


.some-page-wrapper {
  margin: 15px;
  /* background-color: #171717; */
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.orange-column {
  background-color: orange;
  height: 100px;
}

.blue-column {
  /* background-color: blue; */
  height: auto !important;
}

.green-column {
  background-color: green;
  height: 100px;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

@media screen and (min-width: 800px) {
  .column {
    flex: 1
  }

  .double-column {
    flex: 2
  }
}

.header-text {
  font-family: tickerFont;
  color: #FFCE49;
  margin-top: 0px;
}

.top-margin {
  margin-top: 1em;
}

.claim-box {
  height: 200px;
  min-width: 320px;
}

.claim-div {
  border: 5px solid #171717;
  background-color: #282c34;
  text-align: center;
  padding-top: 1em;
  min-width: 320px;
}

.balance-label {
  text-align: center;
}